@media (max-width: 710px) {
  .custom-710 {
    /* your styles here */
    display:none;
    font-size: 2rem;
  }
  
  .custom-input-section{
    height: 2rem;
    
  }
  .custom-w{
    width: 97vw;
    margin: 1em;

  }
  .custom-text{
    font-size: 8px;
  }
  .custom-scroll{
    position: absolute;
    bottom: 24;
  }
  .custom-size{
    font-size: 2rem;
  }
  .show-icon{
    display:block;
  }
}

@media (max-width:770px){
  .custom-send-icon {
 
    position:absolute;
    bottom: 25px;
    right:0;
  }
}
  
.fa-trash{
  opacity:0;

}
.fa-trash:hover{
  color: red;
}
.thread{
  transition:opacity ease-in-out 0.2s;
}
.thread:hover .fa-trash{
  opacity: 1;
}